@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

@import './colors.scss';
@import './measures.scss';

// Reset default browser rules
// -------------------------------

* {
  margin: $no-spacing;
  padding: $no-spacing;
  vertical-align: top;

  font-size: $font-size;
  font-family: 'Roboto Mono', monospace;
  line-height: $font-size * 1.5;

  color: inherit;
  text-decoration: none;
}

// Helpers
// -------------------------------

%animated {
  transition: all 0.3s ease;
}

%bordered {
  border: 1px solid $black;
}

%left-bordered {
  @extend %bordered;

  border-top: none;
  border-right: none;
  border-bottom: none;
}

%bold {
  font-weight: bold;
}

%centered {
  text-align: center;
}

%justified {
  text-align: justify;
}

%right-aligned {
  text-align: right;
}

%centered-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%paragraph {
  @extend %justified;

  margin-bottom: $medium-spacing;
  text-indent: $large-spacing;
}

@mixin font-scale($scale) {
  font-size: $font-size * $scale;
}

@mixin small-font {
  @include font-scale(0.85);
}

@mixin heading($scale) {
  @include font-scale($scale);
  @extend %bold;

  margin-top: $medium-spacing;
  margin-bottom: $medium-spacing;

  font-size: $font-size * $scale;
  line-height: 1.2;
}

// Global
// -------------------------------

// Fix main content "dancing" when openning modal dialogs
// https://css-tricks.com/elegant-fix-jumping-scrollbar-issue/
html {
  margin-left: calc(100vw - 100%);
}

body {
  @extend %centered-block;

  background-color: $white;
  color: $black;
  padding: $large-spacing;
  font-weight: normal;
  font-style: normal;

  max-width: $max-width;

  &[data-modal-count]:not([data-modal-count='0']) {
    overflow-y: hidden;
  }
}

p {
  @extend %paragraph;
}

::selection {
  background-color: $gray;
  color: $white;
}

// Headings
// -------------------------------

h1 {
  @include heading(2.5);
  @extend %centered;

  margin-top: $huge-spacing;
  margin-bottom: $huge-spacing;

  @include respond-to(small) {
    margin-top: $large-spacing;
    margin-bottom: $large-spacing;
  }
}

h1.subtitle {
  @include heading(1);
}

h2 {
  @include heading(1.6);

  margin-top: $huge-spacing;
  margin-bottom: $huge-spacing;
  padding-left: $large-spacing;

  border-left: $small-spacing solid $black;

  @include respond-to(small) {
    margin-top: $large-spacing;
  }
}

h3 {
  @include heading(1.2);

  margin-top: $no-spacing;
}

h4 {
  @include heading(1);

  font-weight: normal;
  color: $gray;
  margin-bottom: $medium-spacing;
  margin-left: $small-spacing;
}

// Links and buttons
// -------------------------------

a:not(.button):not(.clear-link) {
  color: $gray;
  outline: none;
  cursor: pointer;

  &:before {
    content: '[';
  }

  &:after {
    content: ']';
  }

  &:focus {
    text-decoration: underline;
  }
}

button,
a.button,
input[type='submit'] {
  @extend %bordered, %animated;

  display: inline-block;
  cursor: pointer;

  background-color: $white;
  color: $black;
  padding: $small-spacing;

  &[disabled] {
    color: $gray;
    cursor: unset;
  }

  &:not([disabled]) {
    &:hover,
    &:focus {
      background-color: $black;
      color: $white;
      outline: none;
    }

    &:focus {
      text-decoration: underline;
    }
  }

  & + & {
    margin-left: $small-spacing;
  }

  &.danger {
    color: $red;
    border-color: $red;

    &:not([disabled]) {
      &:hover,
      &:focus {
        background-color: $red;
      }
    }
  }
}

// Notifications and errors
// -------------------------------

.error {
  color: $red;
}

// Images and other
// -------------------------------

img,
iframe {
  max-width: 100%;
}

hr {
  margin: $huge-spacing auto;
}

// Forms
// -------------------------------

label {
  font-weight: bold;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='date'],
textarea,
select {
  @extend .block;
  @extend %bordered;

  background-color: $white;

  margin-bottom: $medium-spacing;
  padding: $no-spacing $no-spacing $small-spacing $medium-spacing;
  resize: none;

  border-top: none;
  border-right: none;
  outline: none;

  &::placeholder {
    color: $gray;
  }

  &.error {
    border-color: $red;

    &::placeholder {
      color: $pink;
    }
  }

  &:disabled {
    background-color: $light-gray;
  }
}

textarea {
  height: $textarea-height;
}

// Remove date input arrows
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

fieldset {
  @extend %left-bordered;

  margin-bottom: $large-spacing;
  padding: $no-spacing $no-spacing $small-spacing $medium-spacing;
}

// Loading and spinners
// -------------------------------

// https://loading.io/css/
.loading-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loading-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: $medium-spacing;
  border-radius: 50%;
  border: 6px solid $transparent-black;
  border-color: $transparent-black transparent $transparent-black transparent;
  animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
