@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

@import "./colors.scss";
@import "./measures.scss";

// Reset default browser rules
// -------------------------------

* {
  margin: 0;
  padding: 0;
  vertical-align: top;

  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 1.5rem;

  color: $black;
  text-decoration: none;
}

// Helpers
// -------------------------------

%animated {
  transition: all 0.2s ease;
}

%bordered {
  border: 1px solid $black;
}

@mixin heading($scale) {
  margin-top: $medium-spacing;
  margin-bottom: $medium-spacing;

  font-size: $font-size * $scale;
  font-weight: bold;
  line-height: 1.2;
}

%centered {
  text-align: center;
}

%justified {
  text-align: justify;
}

%centered-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Global
// -------------------------------

body {
  @extend %centered-block;

  background-color: $white;
  padding: $large-spacing;

  max-width: $max-width;
}

p {
  @extend %justified;

  margin-bottom: $medium-spacing;
  text-indent: $large-spacing;
}

// Headings
// -------------------------------

h1 {
  @include heading(2.5);
  @extend %centered;

  text-align: center;
}

h1.subtitle {
  @include heading(1);
}

h2 {
  @include heading(1.5);
}

h3 {
  @include heading(1.2);
}

// Buttons
// -------------------------------

%button {
  @extend %bordered, %animated;

  display: inline-block;
  cursor: pointer;

  color: $black;
  padding: $small-spacing $medium-spacing;
  
  &:hover, &:focus {
    background-color: $black;
    color: $white;
  }
}
