@use "sass:math";

// Spacing
// -------------------------------
$no-spacing: 0;
$small-spacing: 4px;
$medium-spacing: $small-spacing * 2;
$large-spacing: $medium-spacing * 2;
$huge-spacing: $large-spacing * 2;

// Font sizes
// -------------------------------
$font-size: 1rem;

// Sizing
// -------------------------------
$max-width: 800px;
$textarea-height: 100px;

// Break points
// -------------------------------

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (max-width: $max-width - 1px) {
      @content;
    }
  } @else {
    @media (min-width: $max-width) {
      @content;
    }
  }
}

// Helpers
// -------------------------------

.block {
  display: inline-block;
  box-sizing: border-box;

  width: 100%;
}

.block-half {
  @extend .block;

  @include respond-to(medium) {
    width: math.div(100%, 2);

    &:nth-child(odd) {
      padding-right: $large-spacing;
    }

    &:nth-child(even) {
      padding-left: $large-spacing;
    }

    &.huge-spacing:nth-child(odd) {
      padding-right: $huge-spacing;
    }

    &.huge-spacing:nth-child(even) {
      padding-left: $huge-spacing;
    }
  }
}

.block-third {
  @extend .block;

  @include respond-to(medium) {
    width: math.div(100%, 3);

    padding-right: $medium-spacing;
    padding-left: $medium-spacing;

    &:first-child {
      padding-left: $no-spacing;
    }

    &:last-child {
      padding-right: $no-spacing;
    }
  }
}
