// Spacing
// -------------------------------
$small-spacing: 5px;
$medium-spacing: $small-spacing * 2;
$large-spacing: $medium-spacing * 2;
$huge-spacing: $large-spacing * 2;

// Font sizes
// -------------------------------
$font-size: 1rem;
