// Spacing
// -------------------------------
$small-spacing: 5px;
$medium-spacing: $small-spacing * 2;
$large-spacing: $medium-spacing * 2;
$huge-spacing: $large-spacing * 2;

// Font sizes
// -------------------------------
$font-size: 1.1rem;

// Sizing
// -------------------------------
$max-width: 800px;

// Break points
// -------------------------------

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (max-width: $max-width - 1px) {
      @content;
    }
  }

  @else {
    @media (min-width: $max-width) {
      @content;
    }
  }
}

// Helpers
// -------------------------------

.block {
  display: inline-block;
  box-sizing: border-box;

  width: 100%;
}

.block-half {
  @extend .block;

  @include respond-to(medium) {
    width: (100% / 2);

    &:first-child {
      padding-right: $medium-spacing;
    }
  
    &:last-child {
      padding-left: $medium-spacing;
    }
  }
}

.block-third {
  @extend .block;

  @include respond-to(medium) {
    width: (100% / 3);

    padding-right: $medium-spacing;
    padding-left: $medium-spacing;

    &:first-child {
      padding-left: 0;
    }
  
    &:last-child {
      padding-right: 0;
    }
  }
}
